# =========================
# LaTeX auxiliary files
# =========================

*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# =========================
# Latexmk
# =========================

*.run.xml

# =========================
# Build directory (exceto PDF)
# =========================

build/*
!build/*.pdf

# =========================
# Editor / OS lixo
# =========================

.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

.codex